body {
  padding: 25px;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  background: #666666;
}

button {
  outline: rgb(0, 0, 0) solid 1px;
  background-color: transparent;
}

button:hover {
  outline: rgb(0, 0, 0) solid 2px;
  background-color: transparent;
}

button:active {
  outline: rgb(255, 0, 0) solid 2px;
  background-color: transparent;
}
